<!DOCTYPE html>

<html>
	<head>
		<title>the USAGE</title>
		<meta name="description" content="Find the use of something."/>
		<meta name="keywords" content="used, usage, uses, use"/>
	
	</head>
	
	<style types = "text/css">
	body {
			font-family: sans-serif;
			width: 1400px;
			margin: 0 auto;
			padding: 10px
			margin: 0 auto
		}

		.read-link {
			color: blue;
			font-size: 30px;
			text-decoration: none;
			
		}
		.read-link:visited {
			color: purple;
	
		}

		.read-link:hover {
			color: Blue;
			text-decoration:underline
			
		}
		.login-link {
			color: black;
			text-decoration: none;
		}

		.login-link:visited {
			color: black;
		}

		.login-link:hover {
			color: Blue;
		}

		hr {
			margin: 20px auto;
		}
	
		.content + .content {
			margin-top: 20px;
		}
	
		.content-heading {
			position: relative;
		}
		
		.content-subject {
			text-decoration: none;
			color: black;
			font-weight: bold;
			font-size: 22px;
		}
	
		.content-body {
			margin: 0;
			font-size: 18px;
		}
		
		.content-date {
			position: absolute;
			right: 0px;
			bottom: 0px;
			color: #999;
		}
		
		my_h {
			font-family: sans-serif;
			font-weight: bold;
			font-size: 30px;
			color: black;
		}
		
		my_form {
			font-family: sans-serif;
			font-weight: bold;
			font-size: 45px;
		}
		
		b3 {
			font-family: sans-serif;
			font-size: 24px;
		}
		
		b4 {
			font-family: sans-serif;
			font-weight: bold;
			font-size: 24px;
		}
		
		b5 {
			font-family: sans-serif;
			font-weight: bold;
			font-size: 30px;
			color: gray
		}
		b6 {
			font-family: sans-serif;
			
			font-size: 30px;
		}
		
		select {
			font-size: 30px;
			width: 180px;
		}
		
		cache_check {
			font-family: sans-serif;
			font-weight: bold;
			font-size: 10px;
			color: grey;
		}
	</style>	
	
	<body>
	<!--
	<a href="/blog/happening"><img src="http://i.imgur.com/cz53q.png" title="Hosted by imgur.com" alt="" /></a>
	</a>
	
-->
	<br>
	<br>
	<br>
	
{% for category in big_data %}
	{% for entry in category %}
		{% if entry[1]!='Nothing here...' %}
			{% if entry[1]!='No Results...' %}
				'''{{entry[0]}}''',
			{% endif %}
		{% endif %}
	{% endfor %}
	
	<br>
	<br>
	<br>
	
	{% for entry in category %}
		{% if entry[1]!='Nothing here...' %}
			{% if entry[1]!='No Results...' %}
				['''{{entry[0]}}''', '''{{entry[1]}}'''],
			{% endif %}
		{% endif %}
	{% endfor %}
	
	<br>
	<br>
	<br>
{% endfor %}	

<!--	
	{% for entry in s2 %}
		{% if entry[1]!='Nothing here...' %}
			{% if entry[1]!='No Results...' %}
				"""{{entry[0]}}""",
			{% endif %}
		{% endif %}
	{% endfor %}
	
	<br>
	<br>
	<br>
	
	{% for entry in s2 %}
		{% if entry[1]!='Nothing here...' %}
			{% if entry[1]!='No Results...' %}
				["""{{entry[0]}}""", """{{entry[1]}}"""],
			{% endif %}
		{% endif %}
	{% endfor %}
	
	<br>
	<br>
	<br>
	
	{% for entry in s3 %}
		{% if entry[1]!='Nothing here...' %}
			{% if entry[1]!='No Results...' %}
				"""{{entry[0]}}""",
			{% endif %}
		{% endif %}
	{% endfor %}
	
	<br>
	<br>
	<br>
	
	{% for entry in s3 %}
		{% if entry[1]!='Nothing here...' %}
			{% if entry[1]!='No Results...' %}
				["""{{entry[0]}}""", """{{entry[1]}}"""],
			{% endif %}
		{% endif %}
	{% endfor %}

-->

<!--	

	{% for entry in s2 %}
		<b4>{{entry[0]}} - </b4>
		<b3>{{entry[1]}}</b3>	
		<br><br>
	{% endfor %}
	


	{% for entry in s3 %}
		<b4>{{entry[0]}} - </b4>
		<b3>{{entry[1]}}</b3>	
		<br><br>
	{% endfor %}
	




{% for entry in s4 %}
	<b4>{{entry[0]}} - </b4>
	<b3>{{entry[1]}}</b3>	
<br>
<br>
{% endfor %}



{% for entry in s5 %}
	<b4>{{entry[0]}} - </b4>
	<b3>{{entry[1]}}</b3>	
<br>
<br>
{% endfor %}

{% for entry in s6 %}
	<b4>{{entry[0]}} - </b4>
	<b3>{{entry[1]}}</b3>	
<br>
<br>
{% endfor %}
-->
	
	<br>
	</body>
</html>