<!DOCTYPE html>

<html>
	<head>
		<title>the USAGE</title>
		<link rel='apple-touch-icon' href="/apple-touch-icon-precomposed.png" />
	</head>
	
	<style types = "text/css">
	body {
			font-family: sans-serif;
			width: 700px;
			margin: 0 auto;
			padding: 10px
			margin: 0 auto
		}

		.read-link {
			color: blue;
			font-size: 30px;
			text-decoration: none;
			
		}
		.read-link:visited {
			color: purple;
	
		}

		.read-link:hover {
			color: Blue;
			text-decoration:underline
			
		}
		.login-link {
			color: black;
			text-decoration: none;
		}

		.login-link:visited {
			color: black;
		}

		.login-link:hover {
			color: Blue;
		}

		hr {
			margin: 20px auto;
		}
	
		.content + .content {
			margin-top: 20px;
		}
	
		.content-heading {
			position: relative;
		}
		
		.content-subject {
			text-decoration: none;
			color: black;
			font-weight: bold;
			font-size: 22px;
		}
	
		.content-body {
			margin: 0;
			font-size: 18px;
		}
		
		.content-date {
			position: absolute;
			right: 0px;
			bottom: 0px;
			color: #999;
		}
		
		my_h {
			font-family: sans-serif;
			font-weight: bold;
			font-size: 30px;
			color: black;
		}
		
		my_form {
			font-family: sans-serif;
			font-weight: bold;
			font-size: 45px;
		}
		
		b3 {
			font-family: sans-serif;
			font-size: 24px;
		}
		
		b4 {
			font-family: sans-serif;
			font-weight: bold;
			font-size: 24px;
		}
		
		b5 {
			font-family: sans-serif;
			font-weight: bold;
			font-size: 30px;
			color: gray
		}
		b6 {
			font-family: sans-serif;
			
			font-size: 30px;
		}
		
		select {
			font-size: 30px;
			width: 180px;
		}
		
		cache_check {
			font-family: sans-serif;
			font-weight: bold;
			font-size: 10px;
			color: grey;
		}
		
		.spanFormat
		{
			text-align: left;
			display: table-cell;
			min-width: 10px;
			padding-right: 10px;
		}


	</style>

	<body>
<br><br><br>
<center>
<img src="http://i.imgur.com/ume1fGH.png" title="" width="375px" alt="" /></a>
</center>


	<form method="post">
		<label>
			<center>
				<input type="text" name="tool" value = "{{tool}}" style="font-size:24px; width:590px;">
			</center>
		</label>
		<div class="error">{{error}}</div>

		<div style="float:left; width: 380px;">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


		<input type="submit" value="Search" style="font-size:20px; width: 125px; font-family:sans-serif; display:inline;">
		</div>
	</form>

	<span class="spanFormat">

		<form method="post">
		<label for="is_rand">
		<input type="hidden" name="is_rand" value="True">
		<div style="float:right; width: 100px;">
		<input type="submit" value="Random" style="font-size:20px; width: 125px; font-family:sans-serif;">
		</div>
		</label>
	</form>

	
	</span>
	<div style="clear: both;"> </div>
<br><br>

<br><br>
	{% for entry in use %}
	<b4>{{entry.the_tool}}</b4>
{% if tool %}
<b4> - </b4>
{% endif %}

	<b3>{{entry.the_use}}</b3>
	{% endfor %}
	
	<br><br><br><br><br><br><br><br><br><br><br><br>
	
	<center>
	All data collected from Wikipedia
	<br> Site created by <a href="http://jacksindex.appspot.com/" class =login-link >Jack Scott</a>
	<br><a href="https://github.com/JackScottie/theUSAGE/blob/master/main.py" class =login-link >See the code</a>
	</center>
	</body>
</html>